
*{
    padding: none;
    margin: none;
}

.link{
    text-decoration: none;
    color: black;
}

.contais{
    margin: 0 auto;
    border: solid 1px black;
}

.competition{
    margin: 20px 0px 40px 0px;
    width:200px;
    height: 100px;
}

.search-leagues{
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.img{
    width: 100px;
    height: 100px;
}