
*{
    padding: none;
    margin: none;
}

.competition{
    margin: 10px;
    width:100px;
    height: 100px;
}

.search-leagues{
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.img{
    width: 100px;
    height: 100px;
}